.github-footer {
    background-color: rgb(14, 13, 41);
}

.github-footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}